/* CSS files add styling rules to your content */

body {
  font-family: "proxima-nova", sans-serif;
  margin: 2em;
  background: linear-gradient(#ffafc0, #ffc3a0);
}

h1 {
  font-style: italic;
  color: #a28089;
  font-family: "proxima-nova", sans-serif;
}

h2 {
  margin-top: 2em;
  color: #494d5f;
  font-family: "proxima-nova", sans-serif;
}


p {
  margin-top: 2em;
  color: #494d5f;
  font-family: "proxima-nova", sans-serif;
}


.question {
  display: flex;
  margin-top: 2em;
}

.answer-choice img {
  height: 17em;
  
}

.header {
  padding: 200px;
  text-align: center;
  background-image: url("https://data.whicdn.com/images/246811952/original.gif");
  font-size: 30px;
  border: 6px groove white;
}

.result {
  padding: 50px;
  background-image: url("https://data.whicdn.com/images/246811952/original.gif");
  border: 6px groove white;
  margin-top: 10em;
}